.biografia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

  div {
    display: flex;
    flex-direction: column;
  }

  h2 {
    display: inline-block;
    margin: 1%;
  }

  p {
    display: inline-block;
    font-size: 180%;
    margin: 5% 0% 2% 5%;
  }

  img {
    width: 30%;
    height: 30%;
    border-radius: 5%;
    margin-bottom: 5%;
  }
}




