
/*Envío formulario*/

.procesoTrabajo2Col {
  display: flex;
  background-color: #202124;
  justify-content: center;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    margin: 1% 1% 0% 1%;
    width: 15%;

    img {
      width: 45%;
    }

    p {
      text-align: center;
      color: white;
    }
  }
}


.enlaceFormulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-size: 150%;
    display: inline-block;
    margin-top: 2%;
  }

  a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 10%;

    
  }
}


/*Formulario*/

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2% 20% 10% 20%;

  div form div a {
    background-color: rgb(216, 206, 206);
    border-color: rgb(216, 206, 206);
    color: black;
  }
}

/*Carrusel de imagenes*/

/*
.carrImagenes {
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
  margin-left: 35%;
  margin-bottom: 1%;
  
}
*/

@mixin carruselImagenes($display, $ancho, $justify, $align, $marginizq, $marginabajo) {
  display: $display;
  width: $ancho;
  justify-content: $justify;
  align-items: $align;
  margin-left: $marginizq;
  margin-bottom: $marginabajo;
}

.carrImagenes {
  @include carruselImagenes(flex, 30%, center, center, 35%, 1%)
}